h1{
  padding: 10px;
  font-family: 'Roboto Slab', serif;
}

body{
  /* Photo by Emily Campbell on Unsplash */
  background-image:url("./emily-campbell-yBq_CYFagvM-unsplash.jpg");
  background-size: cover;
  font-family: 'Roboto Slab', serif;
  overflow: auto;
}

#spacing{
  padding: 50px;
}

h2{
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social{
  position: relative;
  width: 350px;
  height: 350px;
}

.center-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer{
  height: 64px;
  width: 100%;
} 

.projects{
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.description{
  margin-top: 25px;
  margin-bottom: 25px;
}

.gifs{
  margin-top: 25px;
  margin-bottom: 25px;
  height: 300px;
  width: 400px;
  /* position: relative; */
}


#projects{
  height:900px;
  overflow: auto;
}
.card{
  border-radius: 25px;
}




