.portfolioContent{
    padding: 20px;
    height: 700px;
    width: 130%;
  }
  .repos{
    height: 250px;
    overflow:auto;
    padding: 10px;
  }
  @media only screen and (max-width: 575px) {
    .portfolioContent {
      width: 100%;
    }
  }
  .test{
      overflow-x: hidden;
      overflow-y: auto;
  }

