/* .navbar-brand{
  color: white;
} */
@media only screen and (max-width: 991px) {
  .navbar-toggler{
    background-color: #ffffff94;
  }
}

.color{
    background-color: #ffffff94;
    border-radius: 10px;
    /* text-align: center; */
    margin-top:10px;
  }
  
  .active{
    background: white;
    border-radius: 10px;
  }