h1{
  padding: 10px;
  font-family: 'Roboto Slab', serif;
}

body{
  /* background image by Faye Cornish */
  background-image: url("./photo-1518241353330-0f7941c2d9b5.jpg");
  background-size: cover;
  font-family: 'Roboto Slab', serif;
  overflow: auto;
  /* overflow: hidden; */
}

#spacing{
  padding-top: 90px;
  padding-bottom: 130px;
}

h2{
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social{
  position: relative;
  width: 350px;
  height: 350px;
}

.center-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer{
  height: 64px;
  width: 100%;
} 

.border-bottom{
  padding-top: 25px;
  margin-left: -40px;
}
.projects{
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.description{
  margin-top: 25px;
  margin-bottom: 25px;
}

.gifs{
  margin-top: 25px;
  margin-bottom: 25px;
  height: 300px;
  width: 400px;
  /* position: relative; */
}

#portfolioContent{
  height:600px;
  overflow: auto;
}
#projects{
  height:900px;
  overflow: auto;
}
.card{
  border-radius: 25px;
}

.collapse{
  background-color: #ffffff94;
  border-radius: 10px;
  text-align: center;
  margin-top:10px;
}

.active{
  background: white;
  border-radius: 10px;
}


